<a href="https://colab.research.google.com/github/GiveEnd/Cloud/blob/main/hw_pandas_basics2022Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Домашнее задание 3. Основы pandas

Ответом на это домашнее задание будет являться заполненный `ipynb` файл. В этом домашнем задании предлагается решить задачи ниже. В качестве ответа на домашнее задание  будет приниматься написанный в поле под задачей код на `Python` после поля `#ответ`.

Если вам нужна помощь в выполнении данного домашнего задания, пожалуйста, воспользуйтесь следующими open-source туториалами:  
1. https://nbviewer.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb - хороший ресурс, в котором вы можете найти справку по основным функциональностям пандаса, начиная с основ (базовых вещей), заканчивая чем-то более продвинутым. Здесь так же вы найдете несколько примеров выполнения различных функций.  Очень рекомендую пользоваться им как основным справочником.
2. https://github.com/guipsamora/pandas_exercises/ - здесь вы найдете 11 тем с примерами и ответами на них.

### 1. Загрузка библиотеки и таблицы

In [86]:
# загрузите библиотеку pandas
import pandas as pd

In [87]:
# Загрузка данных из файла CSV
df = pd.read_csv('https://raw.githubusercontent.com/GiveEnd/Cloud/main/kc_house_data.csv')

**Как много NAN значений в колонке `yr_built`?**

In [ ]:
# ответ
nan_count = df['yr_built'].isna().sum()
print(nan_count)

0

**Сколько уникальных значений присутствует в колонке `yr_renovated`?**

In [ ]:
# ответ
unique_values = df['yr_renovated'].nunique()
print(unique_values)

70

**Чему равняется max, min, mean и std значения колонки `price`?**

In [ ]:
# ответ
max_price = df['price'].max()
min_price = df['price'].min()
mean_price = df['price'].mean()
std_price = df['price'].std()

print("Макс:", max_price)
print("Мин:", min_price)
print("Среднее:", mean_price)
print("Стандартное:", std_price)

Макс: 7700000.0
Мин: 75000.0
Среднее: 540088.1417665294
Стандартное: 367127.19648269983

### 3. Выбор данных

**Сколько ванн в доме под строчкой 314?**

In [ ]:
# ответ
bathrooms = df.loc[312, 'bathrooms']

print(bathrooms)

2.5

**Чему ровняется столбец condition дома с индексом, равным 252000300?**

In [ ]:
# ответ
condition = df.loc[df['id'] == 252000300, 'condition'].values[0]
print(condition)

3

**Чему ровняется значение столбца `floors` для домов, построенных в 1999 с 5 спальнями и `sqft living` равным 3400?**  
Решите, пользуясь `df[mask]`

In [ ]:
# ответ
floors = df[(df['yr_built'] == 1999) & (df['bedrooms'] == 5) & (df['sqft_living'] == 3400)]['floors'].values[0]

print(floors)

2.0

**Какая цена самого дорого дома, построенного в промежутке с 1991 по 2000 года?**  
Решите с помощью `query`

In [ ]:
# ответ
max_price = df.query('1991 <= yr_built <= 2000')['price'].max()
print(max_price)

5300000.0

**Какой наиболее чаще встречающийся `zipcode` среди домов `condition` которых равен 1 или 2 ?**

In [ ]:
# ответ
zipcode_counts = df[df['condition'].isin([1, 2])]['zipcode'].value_counts()
most = zipcode_counts.idxmax()
print(most)

5118

### 4. Создание новых колонок

**Создайте новую колонку с называнием `sqft_aver_floor`, где будет раниться результат вычисления деления `sqft_living` на `floors`. Отобразите таблицу, в которой будет содержаться этот столбец.**

In [ ]:
# ответ
df['sqft_aver_floor'] = df['sqft_living'] / df['floors']
print(df[['sqft_aver_floor', 'sqft_living', 'floors']])

       sqft_aver_floor  sqft_living  floors
0               1180.0         1180     1.0
1               1285.0         2570     2.0
2                770.0          770     1.0
3               1960.0         1960     1.0
4               1680.0         1680     1.0
...                ...          ...     ...
21608            510.0         1530     3.0
21609           1155.0         2310     2.0
21610            510.0         1020     2.0
21611            800.0         1600     2.0
21612            510.0         1020     2.0

[21613 rows x 3 columns]

**Создайте новый столбец с названием `sqm_tot_living` полльзуясь колонкой `sqft_living` и зная, что 1 foot = 0.3048 метрам. Отобразите таблицу, в которой будет содержаться этот столбец.**

In [ ]:
# ответ
df['sqm_tot_living'] = df['sqft_living'] * (0.3048 ** 2)
print(df[['sqft_living', 'sqm_tot_living']])

       sqft_living  sqm_tot_living
0             1180      109.625587
1             2570      238.760813
2              770       71.535341
3             1960      182.089958
4             1680      156.077107
...            ...             ...
21608         1530      142.141651
21609         2310      214.606022
21610         1020       94.761101
21611         1600      148.644864
21612         1020       94.761101

[21613 rows x 2 columns]

### 5. Препроцессинг данных

**Создайте столбцы `year`, `month`, `day`, `weekday` аналогично созданным на семинаре.**  
Постарайтесь решить здачу без подгляядки в семинарский `ipynb` файл

In [89]:
# ответ
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['weekday'] = df['date'].dt.weekday

print(df[['date', 'year', 'month', 'day', 'weekday']])

            date  year  month  day  weekday
0     2014-10-13  2014     10   13        0
1     2014-12-09  2014     12    9        1
2     2015-02-25  2015      2   25        2
3     2014-12-09  2014     12    9        1
4     2015-02-18  2015      2   18        2
...          ...   ...    ...  ...      ...
21608 2014-05-21  2014      5   21        2
21609 2015-02-23  2015      2   23        0
21610 2014-06-23  2014      6   23        0
21611 2015-01-16  2015      1   16        4
21612 2014-10-15  2014     10   15        2

[21613 rows x 5 columns]

### 6. Функция Group by

**Создайте новую колонку с названием `price_by_year`, где будут храниться значения группировки колонки `year` и посчитано медианное (`.meadian()`) значение столбца `price`.**

In [104]:
# ответ
df['price_by_year'] = df.groupby('year')['price'].transform('median')
print(df[['price_by_year', 'year', 'price']])

       price_by_year  year     price
0           450000.0  2014  221900.0
1           450000.0  2014  538000.0
2           450500.0  2015  180000.0
3           450000.0  2014  604000.0
4           450500.0  2015  510000.0
...              ...   ...       ...
21608       450000.0  2014  360000.0
21609       450500.0  2015  400000.0
21610       450000.0  2014  402101.0
21611       450500.0  2015  400000.0
21612       450000.0  2014  325000.0

[21613 rows x 3 columns]

**Создайте новую колонку с названием `area_by_price`, где будут храниться значения группировки колонки `condition` и посчитано среднее значение столбца `sqft_living`.**

In [105]:
# ответ
df['area_by_price'] = df.groupby('condition')['sqft_living'].transform('mean')
print(df[['area_by_price', 'condition', 'sqft_living']])

       area_by_price  condition  sqft_living
0        2149.042050          3         1180
1        2149.042050          3         2570
2        2149.042050          3          770
3        2022.911229          5         1960
4        2149.042050          3         1680
...              ...        ...          ...
21608    2149.042050          3         1530
21609    2149.042050          3         2310
21610    2149.042050          3         1020
21611    2149.042050          3         1600
21612    2149.042050          3         1020

[21613 rows x 3 columns]

### Важно
Перед отправкой убедитесь, что все функции работают. Для этого выполните: File -> Save Notebook, Kernel -> Restart Kernel... в верхней панели и еще раз запустите все ячейки. Желаю успехов!